[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/cultureid_user0/game_desktop_launchers/icons/752665.svg
Exec=/home/cultureid_user0/game_desktop_launchers/tif_game_a2.sh
Name[en_US]=tif_game_a2
Name=game a2
Icon=/home/cultureid_user0/game_desktop_launchers/icons/752665.svg
